.navbar {
  background-color: #383b44;
  height: 10vh;
  display: flex;
  
  align-items: center;
}

.menu-bars {
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #383b44c8;
  width: 235px;
  height: 115%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  backdrop-filter: blur(8px);
  overflow: scroll;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-menu.active::-webkit-scrollbar {
  overflow: hidden;
}

.nav-text {
  display: flex;
  align-items: center;
  list-style: none;
  height: 60px;
  width: 200px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;
}

.nav-text a:hover {
  background-color: #000000;
}

.nav-menu-items {
  width: 100%;
  margin-left: -80px;
}

.navbar-toggle {
  margin-top: -15px;
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.span-nav {
  margin-left: 20%;
}

svg {
  margin-left: 15px;
}

.emoji-icon {
  width: 45px;
  height: 45px;
  margin: 0;
  margin-left: 10px;
}
