.App {
  box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  box-sizing: border-box;
  
  font-family: 'PT Sans', sans-serif;
}

body {
  height: 100%;
  margin: 0;
}