.App {
  text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}


@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  box-sizing: border-box;
  
  font-family: 'PT Sans', sans-serif;
}

body {
  height: 100%;
  margin: 0;
}